<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <Title>Login</Title>
    <link rel="stylesheet" href="~/Site.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </head>
  <body>
    @model BurseFMI.appModels.LoginViewModel

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 login-form">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2 class="text-center">Login Form</h2>
                    <p class="text-center">Use a local account to log in.</p>

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                    </div>
                    <div class="link forget-pass text-left">
                        @Html.ActionLink("Forgot password?", "RecoverPassword")
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="form-control button" />
                    </div>
                    <div class="link login-link text-center">
                        Not registered?
                        @Html.ActionLink("Register as a new user", "Register")
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                }
            </div>
        </div>
    </div>
  </body>
</html>
