@using Microsoft.AspNetCore
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/myfile4.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Bellanima Clinic</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
@model (List<BurseFMI.dbModels.Solicitare>,BurseFMI.appModels.DeadlineModel)
</head>


<body>

  <nav class="navbar navbar-light bg-light flex-container" style="opacity:0.8">

    <h3 style="margin-right: 10px;">
      @Html.ActionLink("HOMEPAGE", "Welcome","Student")
      <i class="fas fa-home"></i>
    </h3>


  </nav>

  <div class="flex-container">
    @foreach (var card in Model.Item1)
    {
      if (card.Status != "IN ASTEPTARE")
        continue;



      var status = card.Status;
      var tipBursa = card.CodBursa.Split(" ")[1];
      var color = card.Status == "ACCEPTAT" ? "background-color:'black';" : "background-color:'green';";


      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;margin:40px;@color">
        <div class="card-header">@tipBursa</div>
        <div class="card-body">

          <p class="card-text">Status: @card.Status</p>
          <p class="card-text">DataSolicitare: @card.DataSolicitare.ToString().Split()[0]</p>
          <p class="card-text">DataUltimeiModificari: @card.DataUltimeiModificari.ToString().Split()[0]</p>
          <p class="card-text">ObservatiiSecretar: @card.ObservatiiSecretar</p>
          <p class="card-text">ObservatiiSefComisie: @card.ObservatiiSefComisie</p>
          <p class="card-text">DataUltimeiRecenziiSef: @card.DataUltimeiRecenziiSef.ToString().Split()[0]</p>
        
          @* <div style="position:relative;margin-right:0px"><p class="card-text">@date</p></div> *@
        </div>

        <div class="card-body" style="text-align: center;">
          <button type="button" class="btn btn-light">@Html.ActionLink("Modifica date",
          "ModifyScholarshipRequest","Student",new {selectedRequest=card.CodMatricol+"_"+card.CodBursa})</button>
        </div>

      </div>



    }
    @foreach (var card in Model.Item1)
    {
      if (card.Status != "REFUZAT")
        continue;



      var status = card.Status;
      var tipBursa = card.CodBursa.Split(" ")[1];
      var color = "background-color:'red';";


      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;margin:40px;@color">
        <div class="card-header">@tipBursa</div>
        <div class="card-body">

       <p class="card-text">Status: @card.Status</p>
          <p class="card-text">DataSolicitare: @card.DataSolicitare.ToString().Split()[0]</p>
          <p class="card-text">DataUltimeiModificari: @card.DataUltimeiModificari.ToString().Split()[0]</p>
          <p class="card-text">ObservatiiSecretar: @card.ObservatiiSecretar</p>
          <p class="card-text">ObservatiiSefComisie: @card.ObservatiiSefComisie</p>
          <p class="card-text">DataUltimeiRecenziiSef: @card.DataUltimeiRecenziiSef.ToString().Split()[0]</p>

          @* <div style="position:relative;margin-right:0px"><p class="card-text">@date</p></div> *@
        </div>
        @if(Model.Item2.beforeDeadlineContest)
        {<div class="card-body" style="text-align: center;">
          <button type="button" class="btn btn-light">@Html.ActionLink("Contestatie",
          "ModifyScholarshipRequest","Student",new {selectedRequest=card.CodMatricol+"_"+card.CodBursa})</button>
        </div>}

      </div>



    }
    @foreach (var card in Model.Item1)
    {
      if (card.Status != "ACCEPTAT")
        continue;



      var status = card.Status;
      var tipBursa = card.CodBursa.Split(" ")[1];
      var color = "background-color:'green';";


      <div class="card text-white bg-success mb-3" style="max-width: 18rem;margin:40px;@color">
        <div class="card-header">@tipBursa</div>
        <div class="card-body">

     <p class="card-text">Status: @card.Status</p>
          <p class="card-text">DataSolicitare: @card.DataSolicitare.ToString().Split()[0]</p>
          <p class="card-text">DataUltimeiModificari: @card.DataUltimeiModificari.ToString().Split()[0]</p>
          <p class="card-text">ObservatiiSecretar: @card.ObservatiiSecretar</p>
          <p class="card-text">ObservatiiSefComisie: @card.ObservatiiSefComisie</p>
          <p class="card-text">DataUltimeiRecenziiSef: @card.DataUltimeiRecenziiSef.ToString().Split()[0]</p>

          @* <div style="position:relative;margin-right:0px"><p class="card-text">@date</p></div> *@
        </div>
        @if(Model.Item2.beforeDeadlineFinal)
        {
        <div class="card-body" style="text-align: center;">
          <button type="button" class="btn btn-light">@Html.ActionLink("Valideaza cererea",
          "ModifyScholarshipRequest","Student",new {selectedRequest=card.CodMatricol+"_"+card.CodBursa})</button>
        </div>
        }

      </div>



    }
  </div>
</body>

</html>


@* @foreach (var card in Model.Item1){
  if(card.isChecked==0)
  continue;


  var text=card.lastMessage;
  var opacity=card.isChecked==0?"opacity:0.4;":"opacity:1;";



  var date=text.Substring(text.LastIndexOf("Sent:"));
  var message=(card.speaker.Equals(card.patient)?"You:":"Dr."+card.doctor)+text.Substring(text.IndexOf(':')+1);


  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;@opacity;margin: 40px;">
  <div class="card-header">Dr.@card.doctor
  <div class="card-body">
  <p class="card-text"> @message</p>
  @text
  <div style="position:relative;margin-right:0px"><p class="card-text">@date</p></div>
  </div>
  <div class="card-body" style="text-align: center;">
  <button type="button" class="btn btn-light">@Html.ActionLink("See Diagnose", "SeeDiagnose","Messages",new
  {selectedDialog=card.dialogId})</button>
  <button type="button" class="btn btn-light">@Html.ActionLink("Delete Card", "Delete","Messages",new
  {selectedDialog=card.dialogId})</button>
  </div>

  </div>
  </div>


  } *@
